# .github/workflows/release.yml no reposit칩rio consumidor
name: Release e Publica칞칚o Sem칙ntica

on:
  workflow_dispatch:
  # push:
  #   branches: [ main ] # Dispara ap칩s o merge em main

  workflow_run:
    workflows: ["CI Workflow"]
    branches: [main]
    types:
      - completed

jobs:
  release:
    name: 游눤 Gerar Release e Tag
    uses: heliomarpm/ci-reusable/.github/workflows/node-release.yml@main
    with:
      branch_to_watch: "main"
      simulate_release: false

    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish:
    needs: release
    name: 游 Publicar no NPM
    # S칩 publica se o release for bem-sucedido (tag criada)
    if: success()
    uses: heliomarpm/ci-reusable/.github/workflows/node-publish.yml@main
    with:
      node_version: "20.x"
      publish_command: "npm publish"
      simulate_publish: true
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
